---
import Layout from "./Layout.astro";
import Navigation from "../components/layout/Navigation.tsx";

export interface Props {
  title: string;
  description: string;
  currentPath: string;
  type?: "website" | "article" | "profile";
  keywords?: string[];
  canonical?: string;
}

const { title, description, currentPath, type, keywords, canonical } = Astro.props;
---

<Layout
  title={title}
  description={description}
  type={type}
  keywords={keywords}
  canonical={canonical}
>
  <Navigation client:load />

  <main class="pt-14 min-h-screen bg-skin-primary">
    <slot />
  </main>
</Layout>
